.card {
    border-radius: 2px;
    background-color: #00000085;
    color: #ffffff;
    
}
.card-title{
    color: #ffffff;  
}
.pointSection{
    color: yellow;
    text-align: center;
}
h1{
    margin: 0px;
}
.table th{
    border: 0px;
}
.marginTop{
    margin-top: 100px;
}