<div class="wrapper" >

  <div class="page-header section-dark" style="background-image: url('assets/img/leaderbrd.jpg')">
      <div class="filter"></div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
   
          <div class="container" >
            <div class="row">

            
      <div class="col-lg-4 pt-5">

        <div class="card" >
          <img class="card-img-top" src="assets/img/team.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h1>31</h1>Points
            <h4 class="card-title">John Doe</h4>
            <p>amal.sasikumar@hrblock.com</p>
            <p>amal.ajayakumar@hrblock.com</p>
            <p>amal.ajayakumar@hrblock.com</p>
            <p>amal.ajayakumar@hrblock.com</p>
          </div>
        </div>
      </div>
      </div>
             
              
         
       

           
        
          </div>
      </div>
  </div>
  
