<div class="wrapper" >

  <div class="page-header section-dark" style="background-image: url('assets/img/leaderbrd.jpg')">
      <div class="filter"></div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
   
          <div class="container" >
            <div class="row">

            
      <div class="col-lg-4 pt-5 marginTop">

        <div class="card pt-4 animated zoomIn" >
          <img class="card-img-top m-auto" src="assets/img/team.png" alt="Card image" style="width:60%">
          <div class="card-body text-center">
            <span class="pointSection"><h1>{{teamPoints?.points}}</h1>Total Points</span>
            <h4 class="card-title">{{teamData?.teamName}}</h4>
            <p>{{teamData?.teamMember1email}}</p>
            <p>{{teamData?.teamMember2email}}</p>
            <p>{{teamData?.teamMember3email}}</p>
            <p>{{teamData?.teamMember4email}}</p>
            <p>{{teamData?.teamMember5email}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 pt-5 marginTop ">

          <div class="card animated zoomIn delay-1s" *ngIf="topTen">
            <div class="card-body text-center">
                <h5>TOP 10 TEAMS</h5>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>TEAM</th>
                        <th>POINTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let topten of topTen">
                        <td>{{topten?.teamName}}</td>
                        <td>{{topten?.points}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
             
              
         
       

           
        
          </div>
      </div>
  </div>
  
