

           <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('./assets/img/fabio-mangione.jpg')">
                    <div class="filter"></div>
                    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div clas="col-lg-9">
                                   <div class="card">
                                       <div class="card-body">
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;S.H.I.E.L.D Clearance level 7 Access for the First set of AGENTS.</p> 
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;You can join the Mission as a SOLO Agent or as a SQUAD (max of 5 members).</p> 
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;Be ready with your own team Designations even if you are a SOLO agent.</p>
                                          <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp; S.H.I.E.L.D restricts any further agents after 07/12/2019 17:00:00 IST.</p>
                                          
                                       </div>
                                     </div>
                                </div>
                              </div>
                          
                        </div>
                    </div>
                </div>
                
            