

           <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('assets/img/rule_bg.jpg')">
                    <div class="filter"></div>
                    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div clas="col-lg-10">
                                   <div class="card">
                                       <div class="card-body animated pulse">
                                         <h3 class="pb-3">Agents suits up! Prepare yourselves and get ready for the hunt. Here are your instructions: </h3>
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;	At 11 AM, a security task will be activated. You have to decrypt it and submit the key. (You can try any number of times and a free hint will be provided at 12 PM)</p> 
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;After Decrypting, you will be directed to the Question to claim the Infinity stone.</p> 
                                         <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp;	You will get three chances to answer and claim the stone.</p>
                                          <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp; The first team to find stone will get 5 bonus points and every team with the correct answer will be awarded 25 points.</p>
                                          <p><i class="nc-icon nc-diamond"></i>&nbsp;&nbsp; Unlocking the hint which will be open from 3PM can cost you 5 points.</p>
                                       </div>
                                     </div>
                                </div>
                              </div>
                          
                        </div>
                    </div>
                </div>
                
            