

           <div class="wrapper">
              <div class="page-header section-dark" style="background-image: url('./assets/img/claimgift.jpg')">
                  <div class="filter"></div>
                  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="row">
                              <div clas="col-lg-10">
                                 <div class="card">
                                     <div *ngIf='stoneAvailability' class="card-body">
                                       <h3 class="pb-3">Congrats..You found the door to claim the stone!!</h3>
                                       <button class="btn btn-info btn-block btn-round" (click)="redirectRegister()">Not Registered Yet?</button>
                                       <button class="btn btn-success btn-block btn-round"(click)="redirectClaim()">Claim Your Stone</button>
                                     </div>
                                     <div *ngIf='!stoneAvailability' class="card-body">
                                        <h3 class="pb-3">Sorry..The stone is already taken!! Try next one.. Hurry Up!</h3>
                                      </div>
                                   </div>
                              </div>
                            </div>
                        
                      </div>
                  </div>
              </div>
              
          