<nav
  class="navbar navbar-expand-lg navbg fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a (click)="home()"
        ><img src="assets/img/endgame.png" style="width:150px;"
      /></a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse navbar-transparent " id="navbarToggler">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a  (click)="redirectToPlay()" class="nav-link"><i class="nc-icon nc-button-play"></i>PLAY</a>         
        </li>
        <li class="nav-item">
          <a (click)="rules()" class="nav-link"><i class="nc-icon nc-bullet-list-67"></i>INSTRUCTIONS</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a (click)="leaderboard()" class="nav-link"><i class="nc-icon nc-badge"></i>LEADERBOARD</a>
          </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" (click)="login()"><i class="nc-icon nc-single-02"></i>LOGIN</a>
        </li>

        <div *ngIf="isLoggedIn" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="nc-icon nc-single-02"></i>{{teamData?.teamName}}</a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
            <li class="dropdown-header">{{userName}}</li>
            <a class="dropdown-item" (click)="updatePoints();">Points : {{teamData?.points}}</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item">Squad List & Leader Board</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout();">Logout</a>
          </ul>

        </div>
     
      </ul>
    </div>
  </div>
</nav>
