

           <div class="wrapper">
              <div class="page-header section-dark" style="background-image: url('./assets/img/claimgift.jpg')">
                  <div class="filter"></div>
                  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="row">
                              <div clas="col-lg-10">
                                 <div class="card">
                                     <div *ngIf='stoneSuccess' class="card-body">
                                        <h3 class="pb-3">You claimed {{claimedStone.stoneName}}. Points will be awarded to your team shortly. Keep up the spirit!</h3>
                                      </div>
                                     <div *ngIf='!stoneSuccess' class="card-body">
                                        <h3 class="pb-3">Sorry... {{stoneMessage}}</h3>
                                      </div>
                                   </div>
                              </div>
                            </div>
                        
                      </div>
                  </div>
              </div>
              
          
