<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 border-green text-center">
        <span class="indicator text-center " >LOCATION</span>
        <h2 class="sighting-title text-center" style="font-size: 30px">{{data?.countrySelected}}</h2>
      </div>
  
      <div class="col-lg-12  border-green p-0">
       <div class="panelinfo">
  <div class="row">
    <div class="col-lg-2 treasureGif">
      <img src="../../assets/img/marvel.gif" width="107px" height="100px">
    </div>
    <div class="col-lg-4 treasureClue" *ngIf="data?.QuestionData?.hint">
    <p>{{data?.questionData?.hint}}</p>
      </div>
    <div class="col-lg-4 treasureClue" *ngIf="data?.QuestionData?.keyHint">
    <p>{{data?.questionData?.keyHint}}</p>
      </div>
    <div class="col-lg-6 text-center">
       <span class="treasureQes">{{data?.questionData?.question}}</span>
      </div>
  </div>
       </div>
      </div>
  
  
  
  
      <div class="col-lg-12 border-green gridbg">
        <div class="gradient-back">
          <div class="syfy left m-auto">
              <form>
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="answerValue" name="answerValue" id="answer" placeholder="Enter Key!">
                    <small id="emailHelp" class="form-text text-muted">{{statusMessage}}</small>
                  </div>
                  </form>
          </div>
  
        </div>
        </div>
      </div>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">CLOSE</button>

      <div *ngIf="data?.QuestionData?.url">
        <button mat-button (click)="Submit()">DOWNLOAD</button>
      </div>
   

      <span  class="spacer"></span>
        <button mat-button (click)="Submit()">SUBMIT</button>
    </div>
    </div>
  
   
  
  
  
  
   
      
