<div mat-dialog-content id="gamePanel">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 border-green text-center">
        <span class="indicator text-center " >LOCATION</span>
        <h2 class="sighting-title text-center" style="font-size: 30px">{{data?.questionData?.location}}</h2>
      </div>
  
      <div class="col-lg-12  border-green p-0">
       <div class="panelinfo">
  <div class="row">
    <div class="col-lg-2 treasureGif">
      <img src="assets/img/panelImage.png" width="120px" height="100px">
    </div>
    <div class="col-lg-4 treasureClue" *ngIf="data?.questionData?.hint && !fileLink">
    <p>{{data?.questionData?.hint}}</p>
      </div>
    <div class="col-lg-4 treasureClue" *ngIf="data?.questionData?.keyHint && !fileLink && !data.questionData.keyOpen">
    <p>{{data?.questionData?.keyHint}}</p>
      </div>
      <div class="col-lg-4 treasureClue" *ngIf="fileLink">
        <button mat-button (click)="openHint()">OPEN HINT</button>
      </div>
    <div class="col-lg-6 text-center" *ngIf="!questionLink">
       <span class="treasureQes">{{data?.questionData?.question}}</span>
    </div>
    <div class="col-lg-6 text-center" *ngIf="questionLink">
       <span class="treasureQes">
        <button mat-button (click)="openMainQuestion()">OPEN MAIN QUESTION</button>
       </span>
    </div>
  </div>
       </div>
      </div>
  
      <div class="col-lg-12 border-green gridbg">
        <div class="gradient-back">
          <div class="syfy left m-auto">
              <form>
                  <div class="form-group">
                    <input type="text" class="form-control" *ngIf="data.questionData.keyOpen" [(ngModel)]="answerValue" name="answerValue" id="answerKey" placeholder="{{placeholder}}" maxlength="25">
                    <input type="text" class="form-control" *ngIf="!data.questionData.keyOpen" [(ngModel)]="answerValue" name="answerValue" id="answer" placeholder="{{placeholder}}" maxlength="25">
                    <small id="emailHelp" class="form-text statusmsg">{{statusMessage}}</small>
                    <small id="emailHelp" class="form-text statusmsg floatRight" *ngIf="!data.questionData.keyOpen">Chances : Infinite</small>
                    <small id="emailHelp" class="form-text statusmsg floatRight" *ngIf="data.questionData.keyOpen">Chances : {{data?.questionData?.count}}</small>
                  </div>
                  </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">CLOSE</button>

      <div *ngIf="data?.questionData?.showHint">
      <button mat-button (click)="hintClick()">HINT (-5 Points)</button>
      </div>

      <div *ngIf="data?.questionData?.url">
        <button mat-button (click)="downloadFile()">DOWNLOAD</button>
      </div>
   

      <span  class="spacer"></span>
        <button mat-button [disabled]="!data.questionData.canAnswer" (click)="Submit()">SUBMIT</button>
    </div>
    </div>
  
   
  
  
  
  
   
      
