<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg.jpg')">
        <div class="filter"></div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
                    </div>
                    <h1 class="presentation-title">End Game</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">I know what it's like to lose, to feel so desperately that you're right, yet to fail nonetheless. It's frightening, turns the legs to jelly. But I ask you to what end? Dread it, run from it, destiny arrives all the same. 
                    </h2>
                <div class="text-center registerbtn">
                <button  class="btn btn-danger " (click)="register()"  type="button"><i  class="fa fa-user"></i> REGISTER YOUR TEAM</button>
                </div>
            </div>
        </div>
    </div>
    
