<div class="wrapper" >

    <div class="page-header section-dark" style="background-image: url('assets/img/bg.jpg')">
        <div class="filter"></div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="content-center">
            <div class="container" >
                <div class="title-brand">
                    <div class="angular-logo">
                        <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
                    </div>
                    <h1 class="presentation-title">End Game</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center animated lightSpeedIn">I know what it’s like to lose. To feel so desperately that you’re right, yet to fail nonetheless. Dread it. Run from it. Destiny still arrives.
                    </h2>
                <div class="text-center registerbtn">
                <button class="btn btn-danger " type="button" (click)="playNow()"><i  class="fa fa-play"></i> PLAY NOW</button>
                
                </div>
            </div>
        </div>
    </div>
    
